.bill-list-component {
  margin: auto;
  width: 80%;
}
.bill-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding-bottom: 20px; 
}
.bill-list-content {
  text-align: center;
}
